body {
  background-color: tan;
}

img {
  position: relative;
  left: 550px;
  position: relative;
  top: 350px;
}
input {
  position: relative;
  left: 975px;
  position: relative;
  top: 150px;
}
h1 {
  position: relative;
  left: 975px;
  position: relative;
  top: 150px;
}
p {
  position: relative;
  left: 975px;
  position: relative;
  top: 150px;
  font-family: Calibri;
}
