body {
  background-color: #89ccca;
  font-family: "Archivo Black", sans-serif;
}

h1 {
  text-align: center;
  color: white;
}

.header {
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 1200px;
  margin: auto;
  grid-gap: 50px;
  grid-column-gap: 50px;
}

.grid-item {
  background-color: rgba(255, 245, 155, 0.8);
  border: 5px solid rgba(255, 255, 255, 0.8);
  width: 500px;
  height: 700px;
  padding: 20px;
  font-size: 30px;
  color: white;
  text-align: center;
}
.gamerulestext {
  font-size: 22px;
}

.playButton {
  height: 75px;
  width: 200px;
  margin-top: 50px;
  color: white;
  font-size: 20px;
  font-family: "Archivo Black", sans-serif;
  background-color: rgba(255, 245, 155, 0);
  border: 5px solid rgba(255, 255, 255, 0.8);
}

.playButton:hover {
  background-color: rgba(255, 245, 155, 0.9);
}

footer {
  display: flex;
  overflow: hidden;
  color: white;
  background-color: rgba(255, 245, 155, 0.8);
  border: 5px solid rgba(255, 255, 255, 0.8);
  margin-top: 30px;
  justify-content: center;
}
