.flexboxcontainer {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  flex-basis: 300px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.pink {
  background-color: pink;
}
